task5_version25/.vs/
task5_version25/Debug/
task5_version25/task5_version25/task5_version25.vcxproj.filters
task5_version25/task5_version25/task5_version25.vcxproj.user
task5_version25/task5_version25/Debug/task5_version25.log
task5_version25/task5_version25/Debug/
task5_version25/task5_version25/task5_version25.vcxproj
