task6_version24/task6_version24/Debug/
task6_version24/Debug/
task6_version24/.vs/
task6_version24/task6_version24/task6_version24.vcxproj
task6_version24/task6_version24/task6_version24.vcxproj.user
task6_version24/task6_version24/task6_version24.vcxproj.filters
