task5_version25/.vs/
task5_version25/Debug/
task5_version25/task5_version25/task5_version25.vcxproj.filters
task5_version25/task5_version25/task5_version25.vcxproj.user
task5_version25/task5_version25/Debug/task5_version25.log
task5_version25/task5_version25/Debug/
task5_version25/task5_version25/task5_version25.vcxproj
task6_version24/task6_version24/Debug/
task6_version24/Debug/
task6_version24/.vs/
task6_version24/task6_version24/task6_version24.vcxproj
task6_version24/task6_version24/task6_version24.vcxproj.user
task6_version24/task6_version24/task6_version24.vcxproj.filters
